.header__container, .main__container, .footer__container {
  max-width: 1200px;
  margin: 0 auto; }

.header__container {
  border: 1px black solid; }
.header .demo {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  float: none;
  margin-right: -0.31em;
  width: 25%; }
  @media (max-width: 29.99em) {
    .header .demo {
      width: 25%; } }
  @media (min-width: 30em) and (max-width: 39.99em) {
    .header .demo {
      width: 16.66667%; } }
  @media (min-width: 40em) and (max-width: 59.99em) {
    .header .demo {
      width: 12.5%; } }
  @media (min-width: 60em) {
    .header .demo {
      width: 8.33333%; } }
  .header .demo:after {
    margin-left: 0.31em; }
    @media (max-width: 29.99em) {
      .header .demo:after {
        content: '4'; } }
    @media (min-width: 30em) and (max-width: 39.99em) {
      .header .demo:after {
        content: '6'; } }
    @media (min-width: 40em) and (max-width: 59.99em) {
      .header .demo:after {
        content: '8'; } }
    @media (min-width: 60em) {
      .header .demo:after {
        content: '12'; } }

.content {
  border: 1px black solid;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  float: none;
  margin-right: -0.31em;
  width: 100%; }
  @media (min-width: 40em) and (max-width: 59.99em) {
    .content {
      width: 100%; } }
  @media (min-width: 40em) and (max-width: 59.99em) {
    .content {
      width: 62.5%; } }
  @media (min-width: 60em) {
    .content {
      width: 66.66667%; } }
  .content .demo {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    float: none;
    margin-right: -0.31em;
    width: 25%; }
    @media (max-width: 29.99em) {
      .content .demo {
        width: 25%; } }
    @media (min-width: 30em) and (max-width: 39.99em) {
      .content .demo {
        width: 16.66667%; } }
    @media (min-width: 40em) and (max-width: 59.99em) {
      .content .demo {
        width: 20%; } }
    @media (min-width: 60em) {
      .content .demo {
        width: 12.5%; } }
    @media (min-width: 60em) {
      .content .demo {
        width: 16.66667%; } }

.sidebar {
  border: 1px black solid;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  float: none;
  margin-right: -0.31em;
  width: 100%; }
  @media (min-width: 30em) and (max-width: 39.99em) {
    .sidebar {
      width: 100%; } }
  @media (min-width: 40em) and (max-width: 59.99em) {
    .sidebar {
      width: 37.5%; } }
  @media (min-width: 60em) {
    .sidebar {
      width: 33.33333%; } }
  @media (min-width: 40em) {
    .sidebar {
      float: left;
      margin-right: 0; } }
  .sidebar .demo {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    float: none;
    margin-right: -0.31em;
    width: 25%; }
    @media (max-width: 29.99em), (min-width: 60em) {
      .sidebar .demo {
        width: 25%; } }
    @media (min-width: 30em) and (max-width: 39.99em) {
      .sidebar .demo {
        width: 16.66667%; } }
    @media (min-width: 40em) and (max-width: 59.99em) {
      .sidebar .demo {
        width: 33.33333%; } }
    .sidebar .demo:after {
      margin-left: 0.31em; }
      @media (max-width: 29.99em), (min-width: 60em) {
        .sidebar .demo:after {
          content: '4'; } }

.footer__container {
  border: 1px black solid; }
.footer .demo {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  float: none;
  margin-right: -0.31em;
  width: 25%; }
  @media (max-width: 29.99em) {
    .footer .demo {
      width: 25%; } }
  @media (min-width: 30em) and (max-width: 39.99em) {
    .footer .demo {
      width: 16.66667%; } }
  @media (min-width: 40em) and (max-width: 59.99em) {
    .footer .demo {
      width: 12.5%; } }
  @media (min-width: 60em) {
    .footer .demo {
      width: 8.33333%; } }
