@import '../src/herow';

%container {
    max-width: 1000px;
    margin: 0 auto;
}

$Herow-component-map: Herow-add-component(layout, 4);
$Herow-component-map: Herow-add-component(content, 8);
$Herow-component-map: Herow-add-component(sidebar, 4);

.header {
    &__container {
        @extend %container;
        border: 1px black solid;
    }
    &__row {
        @include Herow-component-row(layout);
    }
    &__col {
        @include Herow-component-column(1, layout);
    }
}

.main {
    &__container {
        @extend %container;
    }
    &__row {
        @include Herow-component-row(layout);
    }
}

.content {
    @include Herow-component-column(8, layout);
    &__container {
        border: 1px black solid;
    }
    &__row {
        @include Herow-component-row(content);
    }
    &__col {
        @include Herow-component-column(1, content);
    }
}

.sidebar {
    @include Herow-component-column(4, layout);
    &__container {
        border: 1px black solid;
    }
    &__row {
        @include Herow-component-row(sidebar);
    }
    &__col {
        @include Herow-component-column(1, sidebar);
    }
}

.footer {
    &__container {
        @extend %container;
        border: 1px black solid;
    }
    &__row {
        @include Herow-component-row(layout);
    }
    &__col {
        @include Herow-component-column(1, layout);
    }
}
