@import '../src/herow';

%container {
    max-width: 1000px;
    margin: 0 auto;
}

$Herow-layout-map: Herow-add-layout(main, 12, 20px);
$Herow-layout-map: Herow-add-layout(content, 8);
$Herow-layout-map: Herow-add-layout(sidebar, 4);
.test {
    zoom: 1;
    filter: map-get($Herow-layout-map, main);
}

.header {
    &__container {
        @extend %container;
        border: 1px black solid;
    }
    &__row {
        @include Herow-layout-row(main);
    }
    &__col {
        @include Herow-layout-column(1, main);
    }
}

.main {
    &__container {
        @extend %container;
    }
    &__row {
        @include Herow-layout-row(main);
    }
}

.content {
    @include Herow-layout-column(content, main);
    &__container {
        border: 1px black solid;
    }
    &__row {
        @include Herow-layout-row(content);
    }
    &__col {
        @include Herow-layout-column(1, content);
    }
}

.sidebar {
    @include Herow-layout-column(sidebar, main);
    &__container {
        border: 1px black solid;
    }
    &__row {
        @include Herow-layout-row(sidebar);
    }
    &__col {
        @include Herow-layout-column(1, sidebar);
    }
}

.footer {
    &__container {
        @extend %container;
        border: 1px black solid;
    }
    &__row {
        @include Herow-layout-row(main);
    }
    &__col {
        @include Herow-layout-column(1, main);
    }
}
