//// 
/// Herow, the saving time grid in Sass
/// 
/// @group api
/// @author Thomas ZILLIOX
/// 



// Attributes
// ----------------------------------

/// Defines the default number of column.
/// 
/// @type Integer
/// @group configuration
/// 
$Herow-default-column-count: 12 !default;

/// Defines the default gutter.
/// 
/// @type Length
/// @group configuration
/// 
$Herow-default-gutter-width: 20px !default;

/// 
/// Defines the default generated class names.
/// 
/// @type Map
/// @group configuration
/// 
$Herow-generator-class-map: (
  row: 'row',
  col: 'col',
  col-span: 'col-',
  col-flow-left: 'col-left',
  col-flow-right: 'col-right',
  col-flow-inline: 'col-inline',
  col-offset-left: 'col-offset-'
) !default;



// Helpers
// ----------------------------------

/// Include a micro clearfix
/// 
/// @access private
/// 
@mixin Herow-clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/// Get a column width in percent
/// 
/// @param {Integer} $column-span - The span length of the column
/// @param {Integer} $column-count - The number of available columns
/// 
/// @access private
/// 
@function Herow-get-cell-width($column-span, $column-count) {
  @return $column-span * 100% / $column-count;
}



// Row Mixins
// ----------------------------------

/// Change the gutter size of the row 
/// 
/// @param {Length} $gutter-width (20px) - The size of the grid gutter
/// 
/// @access public
/// @group atomic-api
/// 
@mixin Herow-row-gutter(
  $gutter-width: $Herow-default-gutter-width
) {
  margin: (-0.5 * $gutter-width);
}

/// Include the styles of a row 
/// 
/// @param {Length} $gutter-width (20px) - The size of the grid gutter
/// 
/// @access public
/// @group api
/// 
@mixin Herow-row(
  $gutter-width: $Herow-default-gutter-width
) {
  display: block;
  @include Herow-row-gutter($gutter-width);
  @include Herow-clearfix();
}



// Column Mixins
// ----------------------------------

/// Change the size of the column 
/// 
/// @param {Integer} $column-span (1) - The span length of the column
/// @param {Integer} $column-count (12) - The number of columns of the grid
/// 
/// @access public
/// @group atomic-api
/// 
@mixin Herow-column-width(
  $column-span: 1,
  $column-count: $Herow-default-column-count
) {
  width: Herow-get-cell-width($column-span, $column-count);
}

/// Change the gutter of the column 
/// 
/// @param {Length} $gutter-width (20px) - The gutter size of the grid 
/// 
/// @access public
/// @group atomic-api
/// 
@mixin Herow-column-gutter(
  $gutter-width: $Herow-default-gutter-width
) {
  padding: (0.5 * $gutter-width);
}

/// Change the flow of the column 
/// 
/// @param {'inline' | 'left' | 'right'} $column-flow ('inline') - The flow of the column
/// 
/// @access public
/// @group atomic-api
/// 
@mixin Herow-column-flow(
  $column-flow: 'inline'
) {
  @if $column-flow == 'left' {
    float: left;
    margin-right: 0;
  } @else if $column-flow == 'right' {
    float: right;
    margin-right: 0;
  } @else {
    display: inline-block;
    vertical-align: top;
    margin-right: -0.25em;
  }
}

/// Change the left offset of the column 
/// 
/// @param {Integer} $column-offset-left (0) - The span length for the left offset of the column
/// @param {Integer} $column-count (12) - The number of columns of the grid
/// 
/// @access public
/// @group atomic-api
/// 
@mixin Herow-column-offset-left(
  $column-offset: 1,
  $column-count: $Herow-default-column-count
) {
  margin-left: Herow-get-cell-width($column-offset, $column-count);
}

/// Change the right offset of the column 
/// 
/// @param {Integer} $column-offset-right (0) - The span length for the right offset of the column
/// @param {Integer} $column-count (12) - The number of columns of the grid
/// 
/// @access public
/// @group atomic-api
/// 
@mixin Herow-column-offset-right(
  $column-offset-right: 1,
  $column-count: $Herow-default-column-count
) {
  margin-right: Herow-get-cell-width($column-offset-right, $column-count);
}

/// Change the offset of the column 
/// 
/// @param {Integer} $column-offset-left (0) - The span length for the left offset of the column
/// @param {Integer} $column-offset-right (0) - The span length for the right offset of the column
/// @param {Integer} $column-count (12) - The number of columns of the grid
/// 
/// @access public
/// @group atomic-api
/// 
@mixin Herow-column-offset(
  $column-offset-left: 1,
  $column-offset-right: 1,
  $column-count: $Herow-default-column-count
) {
  @include Herow-column-offset-left($column-offset-left, $column-count);
  @include Herow-column-offset-right($column-offset-right, $column-count);
}

/// Include the styles of a column 
/// 
/// @param {Integer} $column-span (1) - The span length of the column
/// @param {Integer} $column-count (12) - The number of columns of the grid
/// @param {Length} $gutter-width (20px) - The gutter size of the grid 
/// @param {'inline' | 'left' | 'right'} $column-flow ('inline') - The flow of the column
/// @param {Integer} $column-offset-left (0) - The span length for the left offset of the column
/// @param {Integer} $column-offset-right (0) - The span length for the right offset of the column
/// 
/// @access public
/// @group api
/// 
@mixin Herow-column(
  $column-span: 1,
  $column-count: $Herow-default-column-count,
  $gutter-width: $Herow-default-gutter-width,
  $column-flow: 'inline',
  $column-offset-left: 0,
  $column-offset-right: 0
){
  @include Herow-column-flow($column-flow);
  @include Herow-column-width($column-span, $column-count);
  @include Herow-column-gutter($gutter-width);
  @include Herow-column-offset($column-offset-left, $column-offset-right, $column-count);
}



// Grid Generator Mixins
// ----------------------------------

/// Get a column width in percent
/// 
/// @param {String} $class-key - The key of the $Herow-generator-class-map for the core of the generated class name
/// @param {String} $class-prefix - The prefix of the generated class name
/// @param {String} $class-suffix - The suffix of the generated class name
/// @param {String} $class-counter ('') - The counter suffix of the generated class name
/// 
/// @access private
/// 
@mixin Herow-class-selector(
  $class-key,
  $class-prefix,
  $class-suffix,
  $class-counter: ''
) {
  .#{$class-prefix}#{map-get($Herow-generator-class-map, $class-key)}#{$class-counter}#{$class-suffix} {
    @content;
  }
}

/// Generate atomic classes to use Herow grid directly in CSS
/// 
/// @param {Integer} $column-count (12) - The number of columns of the grid
/// @param {Length} $gutter-width (20px) - The gutter size of the grid 
/// @param {String} $class-prefix ('') - The prefix of the generated class names
/// @param {String} $class-suffix ('') - The suffix of the generated class names
/// 
/// @access public
/// @group api
/// 
@mixin Herow-class-generator(
  $column-count: $Herow-default-column-count,
  $gutter-width: $Herow-default-gutter-width,
  $class-prefix: "",
  $class-suffix: ""
) {
  @include Herow-class-selector(row, $class-prefix, $class-suffix) {
    @include Herow-row($gutter-width);
  }
  @include Herow-class-selector(col, $class-prefix, $class-suffix) {
    @include Herow-column(1, $column-count, $gutter-width);
  }
  @for $counter from 1 through $column-count {
    @include Herow-class-selector(col-span, $class-prefix, $class-suffix, $counter) {
      @include Herow-column-width($counter, $column-count);
    }
  }
  @include Herow-class-selector(col-flow-left, $class-prefix, $class-suffix) {
    @include Herow-column-flow('left');
  }
  @include Herow-class-selector(col-flow-right, $class-prefix, $class-suffix) {
    @include Herow-column-flow('right');
  }
  @include Herow-class-selector(col-flow-inline, $class-prefix, $class-suffix) {
    @include Herow-column-flow('inline');
  }
  @for $counter from 1 through $column-count {
    @include Herow-class-selector(col-offset-left, $class-prefix, $class-suffix, $counter - 1) {
      @include Herow-column-offset-left($counter - 1, $column-count);
    }
  }
}