

// Attributes
// ----------------------------------
$grid-default-column-count: 12 !default;
$grid-default-gutter-width: 20px !default;


// Utils
// ----------------------------------
@mixin clearFix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@function get-cell-width($column-span, $column-count) {
  @return $column-span * 100% / $column-count;
}


// Grid Container Mixins
// ----------------------------------
@mixin grid-container-gutter(
  $gutter-width: $grid-default-gutter-width
) {
  margin: (-0.5 * $gutter-width);
}

@mixin grid-container(
  $gutter-width: $grid-default-gutter-width
) {
  display: block;
  @include grid-container-gutter($gutter-width);
  @include clearFix();
}


// Grid Cell Mixins
// ----------------------------------
@mixin grid-cell-width(
  $column-span: 1,
  $column-count: $grid-default-column-count
) {
  width: get-cell-width($column-span, $column-count);
}

@mixin grid-cell-gutter(
  $gutter-width: $grid-default-gutter-width
) {
  padding: (0.5 * $gutter-width);
}

@mixin grid-cell-flow(
  $cell-flow: 'inline'
) {
  @if $cell-flow == 'left' {
    float: left;
    margin-right: 0;
  } @else if $cell-flow == 'right' {
    float: right;
    margin-right: 0;
  } @else {
    display: inline-block;
    vertical-align: top;
    margin-right: -0.25em;
  }
}

@mixin grid-cell-push(
  $column-offset: 1,
  $column-count: $grid-default-column-count
) {
  margin-left: get-cell-width($column-offset, $column-count);
}

@mixin grid-cell-pull(
  $column-offset: 1,
  $column-count: $grid-default-column-count
) {
  margin-right: get-cell-width($column-offset, $column-count);
}

@mixin grid-cell(
  $column-span: 1,
  $column-count: $grid-default-column-count,
  $gutter-width: $grid-default-gutter-width,
  $cell-flow: 'inline'
){
  @include grid-cell-flow($cell-flow);
  @include grid-cell-width($column-span, $column-count);
  @include grid-cell-gutter($gutter-width);
}


// Grid Generator Mixins
// ----------------------------------
@mixin grid-class-generator(
  $column-count: $grid-default-column-count,
  $gutter-width: $grid-default-gutter-width,
  $class-prefix: "",
  $class-suffix: ""
) {
  @for $counter from 1 through $column-count {
    .#{$class-prefix}col-#{$counter}#{$class-suffix} {
      @include grid-cell($counter, $column-count, $gutter-width);
    }
    .#{$class-prefix}pull-#{$counter}#{$class-suffix} {
      @include grid-cell-pull($counter-1, $column-count);
    }
    .#{$class-prefix}push-#{$counter}#{$class-suffix} {
      @include grid-cell-push($counter-1, $column-count);
    }
  }

  .#{$class-prefix}row#{$class-suffix} {
    @include grid-container($gutter-width);
  }
  .#{$class-prefix}col-right#{$class-suffix} {
    @include grid-cell-flow('right');
  }
  .#{$class-prefix}col-left#{$class-suffix} {
    @include grid-cell-flow('left');
  }
  .#{$class-prefix}col-inline#{$class-suffix} {
    @include grid-cell-flow('inline');
  }
}