////
/// @author Thomas ZILLIOX

/// Change the width of the grid column
///
/// @param {Integer} $column-span (1) - The span length of the column
/// @param {Map|String} $grid (layout) - A grid map or the name of a defined grid
///
/// @access public
/// @group grid-api

@mixin Herow-grid-column-width(
    $column-span: 1,
    $grid: $Herow-default-grid-name
) {
    $grid: Herow-get-grid($grid);
    $column-count: map-get($grid, column-count);
    @include Herow-column-width($column-span, $column-count);
}

/// Change the gutter of the grid column
///
/// @param {Map|String} $grid (layout) - A grid map or the name of a defined grid
///
/// @access public
/// @group grid-api

@mixin Herow-grid-column-gutter(
    $grid: $Herow-default-grid-name
) {
    $grid: Herow-get-grid($grid);
    $gutter-width: map-get($grid, gutter-width);
    @include Herow-column-gutter($gutter-width);
}

/// Change the flow of the grid column
///
/// @param {'inline' | 'left' | 'right'} $column-flow ('inline') - The flow of the column
/// @param {Map|String} $grid (layout) - A grid map or the name of a defined grid
///
/// @access public
/// @group grid-api

@mixin Herow-grid-column-flow(
    $column-flow: $Herow-default-column-flow,
    $grid: $Herow-default-grid-name
) {
    @include Herow-column-flow($column-flow);
}

/// Change the left offset of the grid column
///
/// @param {Integer} $column-offset (1) - The span length for the left offset of the column
/// @param {Map|String} $grid (layout) - A grid map or the name of a defined grid
///
/// @access public
/// @group grid-api

@mixin Herow-grid-column-offset(
    $column-offset: 1,
    $grid: $Herow-default-grid-name
) {
    $grid: Herow-get-grid($grid);
    $column-count: map-get($grid, column-count);
    @include Herow-column-offset($column-offset, $column-count);
}

/// Include the styles of a grid column
///
/// @param {Integer} $column-span (1) - The span length of the column
/// @param {Map|String} $grid (layout) - A grid map or the name of a defined grid
///
/// @access public
/// @group api

@mixin Herow-grid-column(
    $column-span: 1,
    $grid: $Herow-default-grid-name
) {
    $grid: Herow-get-grid($grid);
    @include Herow-column-core();
    @include Herow-column-flow();
    @include Herow-grid-column-width($column-span, $grid);
    @include Herow-grid-column-gutter($grid);
}
