////
/// @group configuration
/// @author Thomas ZILLIOX

/// Defines the grid properties.
///
/// @type Map

$Herow-grid-map: () !default;

/// Defines the default grid name.
///
/// @type String

$Herow-default-grid-name: layout !default;

/// Add a grid
///
/// @param {String} $grid-name (layout) - The name of the grid
/// @param {Integer} $column-count (12) - The default number of columns of the grid
/// @param {Length} $gutter-width (1em) - The size of the grid gutter
/// @param {Boolean} $external-gutter (false) - Set if an external padding is displayed on the grid
/// @param {Map} $column-count-map (()) - The number of columns of the grid at different breakpoints

@function Herow-add-grid(
    $grid-name: $Herow-default-grid-name,
    $column-count: $Herow-default-column-count,
    $gutter-width: $Herow-default-gutter-width,
    $external-gutter: $Herow-default-external-gutter
) {
    @if (map-has-key($Herow-grid-map, $grid-name)) {
        @warn "A grid with the name #{$grid-name} already exists";
    }
    $new-grid: ($grid-name: (
        name: $grid-name,
        gutter-width: $gutter-width,
        external-gutter: $external-gutter,
        column-count: $column-count,
    ));
    @return map-merge($Herow-grid-map, $new-grid);
}
