////
/// @author Thomas ZILLIOX

/// Include the styles of a grid row
///
/// @param {Map|String} $grid (layout) - A grid map or the name of a defined grid
///
/// @group api
/// @access public

@mixin Herow-grid-row(
    $grid: $Herow-default-grid-name
) {
    $grid: Herow-get-grid($grid);
    $gutter-width: map-get($grid, gutter-width);
    $external-gutter: map-get($grid, external-gutter);
    @include Herow-row($gutter-width, $external-gutter);
}
