////
/// @group api
/// @author Thomas ZILLIOX
///

/// Get a column width in percent
///
/// @param {String} $class-key - The key of the $Herow-generator-class-map for the core of the generated class name
/// @param {String} $class-prefix - The prefix of the generated class name
/// @param {String} $class-suffix - The suffix of the generated class name
/// @param {String} $class-counter ('') - The counter suffix of the generated class name
///
/// @access private
///
@mixin Herow-class-selector(
    $class-key,
    $class-prefix,
    $class-suffix,
    $class-counter: ''
) {
    .#{$class-prefix}#{map-get($Herow-generator-class-map, $class-key)}#{$class-counter}#{$class-suffix} {
        @content;
    }
}

/// Generate atomic classes to use Herow grid directly in CSS
///
/// @param {Integer} $column-count (12) - The number of columns of the grid
/// @param {Length} $gutter-width (20px) - The gutter size of the grid
/// @param {String} $class-prefix ('') - The prefix of the generated class names
/// @param {String} $class-suffix ('') - The suffix of the generated class names
///
/// @access public
/// @group api
///
@mixin Herow-class-generator(
    $column-count: $Herow-default-column-count,
    $gutter-width: $Herow-default-gutter-width,
    $class-prefix: "",
    $class-suffix: ""
) {
    @include Herow-class-selector(row, $class-prefix, $class-suffix) {
        @include Herow-row($gutter-width);
    }
    @include Herow-class-selector(col, $class-prefix, $class-suffix) {
        @include Herow-column(1, $column-count, $gutter-width);
    }
    @for $counter from 1 through $column-count {
        @include Herow-class-selector(col-span, $class-prefix, $class-suffix, $counter) {
            @include Herow-column-width($counter, $column-count);
        }
    }
    @include Herow-class-selector(col-flow-left, $class-prefix, $class-suffix) {
        @include Herow-column-flow('left');
    }
    @include Herow-class-selector(col-flow-right, $class-prefix, $class-suffix) {
        @include Herow-column-flow('right');
    }
    @include Herow-class-selector(col-flow-inline, $class-prefix, $class-suffix) {
        @include Herow-column-flow('inline');
    }
    @for $counter from 1 through $column-count {
        @include Herow-class-selector(col-offset-left, $class-prefix, $class-suffix, $counter - 1) {
            @include Herow-column-offset($counter - 1, $column-count);
        }
    }
}
