/* Test: A responsive column over every grid states */
.column {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  float: none;
  margin-right: -0.31em;
  width: 25%; }
  @media (min-width: 480px) {
    .column {
      width: 16.66667%; } }
  @media (min-width: 640px) {
    .column {
      width: 12.5%; } }
  @media (min-width: 960px) {
    .column {
      width: 8.33333%; } }
  @media (min-width: 1280px) {
    .column {
      width: 6.25%; } }

/* Test: Set column width over one grid state */
.column {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  float: none;
  margin-right: -0.31em;
  width: 25%; }
  @media (min-width: 60em) and (max-width: 79.99em) {
    .column {
      width: 8.33333%; } }

/* Test: Set column flow over one grid state */
.column {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  float: none;
  margin-right: -0.31em;
  width: 25%; }
  @media (min-width: 60em) and (max-width: 79.99em) {
    .column {
      float: left;
      margin-right: 0; } }

/* Test: Set column offset over one grid state */
.column {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  float: none;
  margin-right: -0.31em;
  width: 25%; }
  @media (min-width: 60em) and (max-width: 79.99em) {
    .column {
      margin-left: 8.33333%; } }
