@import '../../src/herow';

%container {
    max-width: 1200px;
    margin: 0 auto;
}

$Herow-grid-map: Herow-add-grid(layout, 12, 0, false);
$Herow-grid-map: Herow-add-grid-breakpoint(layout, (
    0: 4,
    480px: 6,
    640px: 8,
    960px: default
));
$Herow-grid-map: Herow-add-grid(content, 4, 0, false);
$Herow-grid-map: Herow-add-grid-breakpoint(content, (
    'layout:4': default,
    'layout:6': 6,
    'layout:8': 5,
    'layout:12': 8
));
$Herow-grid-map: Herow-add-grid(sidebar, 4, 0, false);
$Herow-grid-map: Herow-add-grid-breakpoint(sidebar, (
    'layout:4': default,
    'layout:6': 6,
    'layout:8': 3,
    'layout:12': 4
));

.header {
    &__container {
        @extend %container;
        border: 1px black solid;

        @include Herow-grid-row(layout);
    }
    & .demo {
        @include Herow-grid-responsive-column(1, layout);
    }
}

.main {
    &__container {
        @extend %container;
        @include Herow-grid-row(layout);
    }
}

.content {
    border: 1px black solid;

    @include Herow-grid-column-row(-4, layout, content);
    @include Herow-grid-column-width-breakpoint(-3, 'layout:8');
    @include Herow-grid-column-width-breakpoint(0, 'layout:4' 'layout:6');
    @include Herow-grid-column-flow-breakpoint('right', 'layout:8');

    & .demo {
        @include Herow-grid-responsive-column(1, content);
    }
}

.sidebar {
    border: 1px black solid;

    @include Herow-grid-column-row(4, layout, sidebar);
    @include Herow-grid-column-width-breakpoint(3, 'layout:8');
    @include Herow-grid-column-width-breakpoint(0, 'layout:4' 'layout:6');

    & .demo {
        @include Herow-grid-responsive-column(1, sidebar);
        &:after {
            margin-left: 0.31em;
        }
    }
}

.footer {
    &__container {
        @extend %container;
        border: 1px black solid;
        @include Herow-grid-row(layout);
    }
    & .demo {
        @include Herow-grid-responsive-column(1, layout);
    }
}
