////
/// @group configuration
/// @author Thomas ZILLIOX

/// Set if the debug the output contains debug traces
///
/// @type Boolean

$Herow-debug: false !default;

/// Defines the default number of column.
///
/// @type Integer

$Herow-default-column-count: 12 !default;

/// Defines the default column flow.
///
/// @type 'inline' | 'left' | 'right'

$Herow-default-column-flow: 'inline' !default;

/// Defines the default gutter.
///
/// @type Length

$Herow-default-gutter-width: 20px !default;

/// Defines the default gutter.
///
/// @type Length

$Herow-default-external-gutter: false !default;

