////
/// @group configuration
/// @author Thomas ZILLIOX

/// Get if a component state is with a specific size
///
/// @param {String} $component-state - The state of a component ('component-name:component-size')
///
/// @access private

@function Herow-is-component-state($component-state) {
    @return str-index($component-state, ':');
}

/// Get component name by component state
///
/// @param {String} $component-state - The state of a component ('component-name:component-size')
///
/// @access private

@function Herow-get-component-name-by-component-state($component-state) {
    $component-name: $component-state;
    @if (Herow-is-component-state($component-state)) {
        $index: str-index($component-state, ':');
        $component-name: str-slice($component-state, 1, $index - 1);
    }
    @return $component-name;
}

/// Get component by component name
///
/// @param {String} $component-name - The name of the component
///
/// @access private

@function Herow-get-component-by-component-name($component-name) {
    $component: null;
    @if map_has_key($Herow-component-map, $component-name) {
        $component: map_get($Herow-component-map, $component-name);
    } @else {
        @warn 'Unexisting map with the name: "#{$component-name}"';
    }
    @return $component;
}

/// Get a component by component state
///
/// @param {String} $component-state - The state of a component ('component-name:component-size')
///
/// @access private

@function Herow-get-component-by-component-state($component-state) {
    $component-name: Herow-get-component-name-by-component-state($component-state);
    $component: Herow-get-component-by-component-name($component-name);
    @return $component;
}

/// Get column count by component state
///
/// @param {String} $component-state - The state of a component ('component-name:component-size')
///
/// @access private

@function Herow-get-column-count-by-component-state($component-state) {
    @if (Herow-is-component-state($component-state)) {
        $index: str-index($component-state, ':');
        @return Herow-number(str-slice($component-state, $index + 1));
    }
    $component-name: $component-state;
    $component: Herow-get-component-by-component-name($component-name);
    $column-count: map-get($component, column-count);
    @return map-get($column-count, 0);
}

/// Get column count by component state
///
/// @param {List<String>} $component-state-list - A list of component state ('component-name:component-size')
///
/// @access private

@function Herow-get-column-count-list-by-component-state-list($component-state-list) {
    $column-count-list: ();
    $component-name: Herow-get-component-name-by-component-state(nth($component-state-list, 1));
    @each $component-state in $component-state-list {
        $column-count: Herow-get-column-count-by-component-state($component-state);
        $current-component-name: Herow-get-component-name-by-component-state($component-state);
        @if ($component-name != $current-component-name) {
            @warn 'Try to merge column count from several component in the same time: "#{$component-name}" & "#{$current-component-name}"';
        } @else if (not index($column-count-list, $component-state)) {
            $column-count-list: append($column-count-list, $column-count);
        }
    }
    @return $column-count-list;
}

/// Get a component by component state
///
/// @param {String} $component-name (layout) - The name of the component
///
/// @access private

@function Herow-get-all-component-state-list-by-component-name(
    $component-name: $Herow-default-component-name
) {
    $component-state-list: ();
    $component: Herow-get-component-by-component-name($component-name);
    @each $breakpoint, $size in map_get($component, column-count) {
        $component-state: $component-name+':'+$size;
        @if (not index($component-state-list, $component-state)) {
            $component-state-list: append($component-state-list, $component-state);
        }
    }
    @return $component-state-list;
}

/// Get a formatted component-state-list from possible boolean
///
/// @param {Map} $component-state-list (false) - A list of component state ('component-name:component-size')
/// @param {String} $component-name (layout) - The name of the component
///
/// @access private

@function Herow-get-formatted-component-state-list(
    $component-state-list: false,
    $component-name: $Herow-default-component-name
) {
    @if ($component-state-list == true) {
        $component-state-list: Herow-get-all-component-state-list-by-component-name($component-name);
    } @else if ($component-state-list == false) {
        $component-state-list: $component-name;
    }
    @return $component-state-list;
}
