////
/// @group configuration
/// @author Thomas ZILLIOX

/// Defines the default grid state.
///
/// @type String

$Herow-default-grid-state: 'layout:default' !default;

/// Add a breakpoint to a predefined grid
///
/// @param {String} $grid-name (layout) - The name of the grid
/// @param {Map} $breakpoint-map (()) - The number of columns of the grid at different breakpoints

@function Herow-add-grid-breakpoint(
    $grid-name: $Herow-default-grid-name,
    $breakpoint-map: ()
) {
    $grid: Herow-get-grid($grid-name);
    @if (map-has-key($grid, breakpoint-map)) {
        @warn "The grid #{$grid-name} already has breakpoints";
    }
    $default-column-count: map-get($grid, column-count);
    $size-map: ();
    $size-map: map-merge($size-map, (0: $default-column-count));
    @each $breakpoint, $size in $breakpoint-map {
        @if (type_of($breakpoint) == 'string') {
            $breakpoint: Herow-get-breakpoint-length-by-grid-state($breakpoint);
        }
        $size-map: map-merge($size-map, ($breakpoint: $size));
    }
    $new-grid: ($grid-name: map-merge($grid, (
        breakpoint-map: $size-map
    )));
    @return map-merge($Herow-grid-map, $new-grid);
}
