////
/// @group api
/// @author Thomas ZILLIOX
///


/// Include the styles of a column
///
/// @param {String} $name (main) - The name of the column layout
/// @param {String} $parent-name ('main') - The name of the row layout
///
/// @access public
/// @group api
///
@mixin Herow-layout-column(
    $name: $Herow-default-layout-name,
    $parent-name: $Herow-default-layout-name
) {
    $layout: map-get($Herow-layout-map, $name);
    $parent: map-get($Herow-layout-map, $parent-name);
    @include Herow-column(
        map-get($layout, size),
        map-get($parent, size),
        map-get($parent, gutter-width)
    );
}
